<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Regular Week Calendar</title>
        <!-- CSS files -->
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/regularWeek.css') }}">
    </head>
    <body>
        <table class="calendar">
            <thread class="weekDays">
                <tr>
                    <th></th>
                    <th class="Monday">Monday</th>
                    <th class="Tuesday">Tuesday</th>
                    <th class="Wednesday">Wednesday</th>
                    <th class="Thursday">Thursday</th>
                    <th class="Friday">Friday</th>
                </tr>
            </thread>
            <tbody class="times">
                <tr>
                    <td class="time">9:00</td>
                    <td class="weekDay t_9_00 Monday"></td>
                    <td class="weekDay t_9_00 Tuesday"></td>
                    <td class="weekDay t_9_00 Wednesday"></td>
                    <td class="weekDay t_9_00 Thursday"></td>
                    <td class="weekDay t_9_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">9:30</td>
                    <td class="weekDay t_9_30 Monday"></td>
                    <td class="weekDay t_9_30 Tuesday"></td>
                    <td class="weekDay t_9_30 Wednesday"></td>
                    <td class="weekDay t_9_30 Thursday"></td>
                    <td class="weekDay t_9_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">10:00</td>
                    <td class="weekDay t_10_00 Monday"></td>
                    <td class="weekDay t_10_00 Tuesday"></td>
                    <td class="weekDay t_10_00 Wednesday"></td>
                    <td class="weekDay t_10_00 Thursday"></td>
                    <td class="weekDay t_10_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">10:30</td>
                    <td class="weekDay t_10_30 Monday"></td>
                    <td class="weekDay t_10_30 Tuesday"></td>
                    <td class="weekDay t_10_30 Wednesday"></td>
                    <td class="weekDay t_10_30 Thursday"></td>
                    <td class="weekDay t_10_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">11:00</td>
                    <td class="weekDay t_11_00 Monday"></td>
                    <td class="weekDay t_11_00 Tuesday"></td>
                    <td class="weekDay t_11_00 Wednesday"></td>
                    <td class="weekDay t_11_00 Thursday"></td>
                    <td class="weekDay t_11_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">11:30</td>
                    <td class="weekDay t_11_30 Monday"></td>
                    <td class="weekDay t_11_30 Tuesday"></td>
                    <td class="weekDay t_11_30 Wednesday"></td>
                    <td class="weekDay t_11_30 Thursday"></td>
                    <td class="weekDay t_11_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">12:00</td>
                    <td class="weekDay t_12_00 Monday"></td>
                    <td class="weekDay t_12_00 Tuesday"></td>
                    <td class="weekDay t_12_00 Wednesday"></td>
                    <td class="weekDay t_12_00 Thursday"></td>
                    <td class="weekDay t_12_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">12:30</td>
                    <td class="weekDay t_12_30 Monday"></td>
                    <td class="weekDay t_12_30 Tuesday"></td>
                    <td class="weekDay t_12_30 Wednesday"></td>
                    <td class="weekDay t_12_30 Thursday"></td>
                    <td class="weekDay t_12_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">1:00</td>
                    <td class="weekDay t_1_00 Monday"></td>
                    <td class="weekDay t_1_00 Tuesday"></td>
                    <td class="weekDay t_1_00 Wednesday"></td>
                    <td class="weekDay t_1_00 Thursday"></td>
                    <td class="weekDay t_1_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">1:30</td>
                    <td class="weekDay t_1_30 Monday"></td>
                    <td class="weekDay t_1_30 Tuesday"></td>
                    <td class="weekDay t_1_30 Wednesday"></td>
                    <td class="weekDay t_1_30 Thursday"></td>
                    <td class="weekDay t_1_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">2:00</td>
                    <td class="weekDay t_2_00 Monday"></td>
                    <td class="weekDay t_2_00 Tuesday"></td>
                    <td class="weekDay t_2_00 Wednesday"></td>
                    <td class="weekDay t_2_00 Thursday"></td>
                    <td class="weekDay t_2_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">2:30</td>
                    <td class="weekDay t_2_30 Monday"></td>
                    <td class="weekDay t_2_30 Tuesday"></td>
                    <td class="weekDay t_2_30 Wednesday"></td>
                    <td class="weekDay t_2_30 Thursday"></td>
                    <td class="weekDay t_2_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">3:00</td>
                    <td class="weekDay t_3_00 Monday"></td>
                    <td class="weekDay t_3_00 Tuesday"></td>
                    <td class="weekDay t_3_00 Wednesday"></td>
                    <td class="weekDay t_3_00 Thursday"></td>
                    <td class="weekDay t_3_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">3:30</td>
                    <td class="weekDay t_3_30 Monday"></td>
                    <td class="weekDay t_3_30 Tuesday"></td>
                    <td class="weekDay t_3_30 Wednesday"></td>
                    <td class="weekDay t_3_30 Thursday"></td>
                    <td class="weekDay t_3_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">4:00</td>
                    <td class="weekDay t_4_00 Monday"></td>
                    <td class="weekDay t_4_00 Tuesday"></td>
                    <td class="weekDay t_4_00 Wednesday"></td>
                    <td class="weekDay t_4_00 Thursday"></td>
                    <td class="weekDay t_4_00 Friday"></td>
                </tr>
                <tr>
                    <td class="time">4:30</td>
                    <td class="weekDay t_4_30 Monday"></td>
                    <td class="weekDay t_4_30 Tuesday"></td>
                    <td class="weekDay t_4_30 Wednesday"></td>
                    <td class="weekDay t_4_30 Thursday"></td>
                    <td class="weekDay t_4_30 Friday"></td>
                </tr>
                <tr>
                    <td class="time">5:00</td>
                    <td class="weekDay t_5_00 Monday"></td>
                    <td class="weekDay t_5_00 Tuesday"></td>
                    <td class="weekDay t_5_00 Wednesday"></td>
                    <td class="weekDay t_5_00 Thursday"></td>
                    <td class="weekDay t_5_00 Friday"></td>
                </tr>
            </tbody>

        </table>
    </body>
</html>
<!-- Javascript files -->
<script type="text/javascript"
src="{{ url_for('static', filename='js/regularWeek.js') }}"></script>