body{
    background: linear-gradient(45deg, #C3754A,#E1C0B4);
    background-repeat: no-repeat;
    height:100%;
    background-attachment: fixed;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
    /* position: fixed;
    overflow:hidden; */
}

.title{
    margin: 10vh auto 5vh auto;
    text-align:center;
    font-size:59px;
    font-family: "Times New Roman", Times, serif;
}

.calendar{
    width: 85%;
    margin: 0 auto;
    border: "1";
    border-collapse: collapse;
}

td , th{
    border: 1px solid black;
}