.calendar{
    width: 85%;
    margin: 0 auto;
}
.calendar,  .weekDays>tr>th, .times>tr>th{
    border: 1px solid black;    
}

.time{
    background:white;
    margin: auto;
}

/* Monday-Friday */
.Monday{
    background-color:red;
}
.Tuesday{
    background-color:yellow;
}
.Wednesday{
    background-color: green;
}
.Thursday{
    background-color: blue;
}
.Friday{
    background-color: violet;
}