tr{
    height: 30px;
}

.weekDay:hover{
    background-color: grey;
}

.time{
    margin: auto;
    text-align:right;
}

.upperTime{
    position:relative;
    top:-8px;
}

.lowerTime{
    position:relative;
    top:10px;
}

.innerTime{
    position:relative;
    top:-1.45VH;
}

.weekDay{
    width:18%;
}

.weekDayClick{
    background-color: grey !important;
}

tr:nth-child(odd) td:not(:first-child){
    background-color:#D7A791;
}

tr:nth-child(even) td:not(:first-child){
    background-color:#E1C0B4;
}

tr td:first-child, th:first-child{
    background:pink;
}

td:first-child{
    /* opacity: 0.5; */
    background-color:transparent;
}

.weekDayTr th:not(:first-child){
    background-color: #C3754A !important;
}

th:nth-child(1),td:nth-child(1){
    border: 0px solid black;
}