tr{
    height: 3vh;
}

.weekDay:hover{
    background-color: grey;
}

.time{
    margin: auto;
    text-align:center;
}

.upperTime{
    position:relative;
    top:-1VH;
}

.lowerTime{
    position:relative;
    top:1VH;    
}

.innerTime{
    position:relative;
    top:-1.45VH;
}

.weekDay{
    width:18%;
}

.weekDayClick{
    background-color: grey !important;
}

tr:nth-child(odd){
    background-color:#D7A791;
}
tr:nth-child(even){
    background-color:#E1C0B4;
}

td:first-child{
    background-color:#FFFFFFFF
}

.weekDayTr{
    background-color: #C3754A !important;
}

th:nth-child(1),td:nth-child(1){
    border: 0px solid black;
}